@import "variables";


// ===== mixins ===========
@mixin background($img_url) {
	background:url($img_url);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: overlay;
}

@mixin dark-overlay($opacity) {
	background-color: rgba(0,0,0,$opacity);
}
@mixin red-overlay($opacity) {
	background-color: rgba(186,24,27,$opacity);
}

.section-heading {
	font-size: 3.5rem;
	font-weight: 700!important;
	color: $erie-black;
}
.sub-heading {
	padding: 0px;
    padding-left: 10px;
    border-left: 3px solid $imperial-red;
    font-weight: bold;
    font-size: 28px;
	color: $rich-black;
}
.paragraph-small{
	font-size: 13px;
    font-weight: 400;
}

body{
	
}



#about_me{

	.interest{

		.my_journey{

			.media{

				.icon{
					border: 2px dotted $erie-black;
					color: $erie-black;
					height: 40px;
					width: 40px;
					line-height: 38px;
				}

				.icon:hover{
					border: none;
					background-color: $erie-black;
					color: $light-gray;
					// color: $imperial-red;
				}
				.h6{
					font-weight:600;
					font-size: 0.9rem;
				}
			}
			
		}

		
		.hobby{
			
			.media{

				.icon{
					color: $erie-black;
					height: 40px;
					width: 40px;
					line-height: 38px;
					font-size: 1.5rem;
					
				}

				.icon:hover{
					border: none;
					color: $imperial-red;
				}
				.h6{
					font-weight:600;
					font-size: 1rem;
				}
			}
		}
		

	}
}


#skills_set{
	.card{
		.view{
			// unique-color-dark
			color: $imperial-red!important;
			
		}
	}
}





#portfolio{
	
	.mix_container{
		
		.view{
			border-radius: 25px;
			min-height: 200px;
			transition: 0.1s;

			img{
				min-height: 200px;
			}

			.mask{
				visibility: hidden;
				transition: 0.2s;

				a{
					background-color: $erie-black;
					color: $light-gray;
				}
			}
		}
		.view:hover .mask{
			@include red-overlay(0.5);
			transition: 0.2s;
			visibility: visible;
			cursor: pointer;
		}
	}
}



#testimonial{
	background:url('../../assets/img/Ellipse_testimonial_half2.png');
	background-repeat:no-repeat;
	background-size: 30%;
	background-position: center;
	background-position-x: right;

	.card{
		border-radius: 40px;

		.card-body{
			img{
				max-width: 250px;
				max-height: 250px;
			}

			hr{
				margin-right:100%;
				border-top: 2px solid rgba(0,0,0,.1);
			}

			.compliment-text{
				min-height: 100px;
				// max-height: 140px;
				// max-width:94%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.social-buttons{
				a{
					color: $white-color;
					font-size: 0.8rem;
					line-height: 30px;
					text-align: center;
					height: 30px;
					width: 30px;
					border-radius: 50%;
				}
			}
		}
	}
}


#contact{
	.address{
		.card{

			background-color: #242324;

			.icon{
				color: $imperial-red;
				font-size: 10px;
			}
			.card-content{
				color: $light-gray;
			}
		}
	}
	.contact_form{

		form{
			// input{
			// 	background-color: #242324;
			// 	font-size: 12px;
			// 	padding-left: 20px;
			// 	font-weight: 500;
			// 	border: none;
			// }
			// textarea{
				
			// }
			.form-control{
				background-color: #242324;
				font-size: 13px;
				padding: 25px;
				font-weight: 500;
				border: none;
				color: $gray-color;
			}
			.submit{
				color: #E0E0E0;
			}
		}
	}
}



#footer{
	.footer-icons{
		
		a:hover{
			color: $imperial-red!important;
			transition: 0.2s;
		}
	}
}